<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>宏</h1>
    {% macro list_users(users) -%}
      <table>
        <tr><th>Name</th><th>Action</th></tr>
        {%- for user in users %}
          <tr><td>{{ user.name |e }}</td>{{ caller() }}</tr>
        {%- endfor %}
      </table>
    {%- endmacro %}

    {% set users=[{'name':'Tom','gender':'M','age':20},
              {'name':'John','gender':'M','age':18},
              {'name':'Mary','gender':'F','age':24}]
    %}

{% call list_users(users) %}
    <td><input name="delete" type="button" value="Delete"></td>
{% endcall %}
</body>
</html>